*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
.main{
    width: 100%;
    height: 100vh;
    background-image: url('images/pexels-jeffrey-riley-ii-3072709.jpg');
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.title{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
}
.col{
    margin-top: 10px;
    width: 1000px;
    display: flex;
    justify-content: center;
    color: white;
}
.col div{
    width: 200px;
    text-align: center;
}

input{
    height: 50px;
    width: 60%;
    border: none;
    border-color: transparent;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 50px;
}
@media (max-width:600px) {
    .col{
        width: 100%;
    }
}
